# Untracked files
/*pddl
*~
*.pyc
src/search/config
src/search/latex
src/search/html
builds/
output.lifted
model.lp
sas_plan
powerlifted.img
powerlifted.sif
reports/
local-tests/
*.out
src/search/.DS_Store
plan
.vscode/c_cpp_properties.json
