# Untracked files
*~
*.pyc
.idea/*
src/translator/.idea/*
src/search/.idea/*
src/search/cmake-build-debug/
src/search/config
src/search/latex
src/search/html
builds/
output.lifted
model.lp
sas_plan
reports/
local-tests/
*.out
